<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>peloduro.Controlador.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCita</servlet-name>
        <servlet-class>peloduro.Controlador.ControladorCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>peloduro.Controlador.Sesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/AgregarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCita</servlet-name>
        <url-pattern>/AgregarCita</url-pattern>
        <url-pattern>/ConsultarCita</url-pattern>
        <url-pattern>/BuscarCita</url-pattern>
        <url-pattern>/confirmarCita</url-pattern>
        <url-pattern>/realizarAtencion</url-pattern>
        <url-pattern>/BuscarCitaRealizada</url-pattern>
        <url-pattern>/BuscarCitaAgendada</url-pattern>
        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
